@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'montserrat';
}

::selection {
    background-color: white;
    color: #6563ff;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #6563ff;
    flex-direction: column;
}
.wrapper {
    height: 400px;
    width: 400px;
    padding: 25px 25px 5px 25px;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card {
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 5);
    width: calc(100% / 4.3);
}
.cards .card .view {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background: #fff;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    position: absolute;
    transition: transform .2s linear;
    pointer-events: none;
    user-select: none;
}
.card .front-view span {
    font-size: 36px;
    color: #6563ff;
}
.card .back-view{
    transform: rotateY(-180deg);
}
.back-view img {
    max-width: 45px;
}
.card.flip .front-view {
    transform: rotateY(180deg);
}
.card.flip .back-view {
    transform: rotateY(0);
}
.card.shake {
    animation: shake .35s ease-in-out;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40% {
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
}
.titreCont {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    height: 70px;
}
.sousTitreCont {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    position: relative;
    font-size: 15px;
}

.titre {
    top: 100px;
    color: white;
    font-size: 24px;
    margin-top: 80px;
}
button {
    margin-bottom: 80px;
    padding: 12px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: all .3s ease;
}
button:hover {
    color: yellow;
    background-color: yellow;
    color: #6563ff;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(200%, -50%);
    transition: all .2s;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 250;
    box-shadow: 0 0 8px -1px #1a1a1a;
    overflow: hidden;
    border: 1px solid #6563ff;
}
.modal-tit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    color: #52cf97;
    height: 80px;
    border-bottom: 1px solid #363538;
    position: relative;
}
.modal-tit h2 {
    font-size: 24px;
    color: #6563ff;

}
.close {
    position: absolute;
    top:0px;
    right: 0px;
    height: 22px;
    width: 22px;
    display: flex;align-items: center;justify-content: center;
    font-size: 26px;
    color:#1a1a1a;
    font-weight: bolder;
    transition: .3s;
}
.close:hover {
    cursor: pointer;
    filter: brightness(1.3);
}
.modal-content {
height: calc(100% - 80px);
border: none;
border-radius: 0 !important;
display: flex;
align-items: center;
justify-content: center;
padding: 0 40px;
background-color: white;

}
.modal-content h3 {
    border-radius: 0 !important;
    color: #52cf97;
    font-size: 14px;
    line-height: 1.5;
    color: #1a1a1a;

}
.edge {
    width: 100px;
    height: 70px;
    position: absolute;
    left: 100%;
    top: 0;
    transform: rotate(140deg) translate(0px, 60px);
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background-color: #6563ff;
}
.start, .restart {
    width: 130px;
}
.must {
    color: rgb(21, 255, 0);
    position: absolute;
    bottom: 0;
}
.start.warning {
    animation: color 5s linear infinite;
}
@keyframes color {
    0%, 100% {
        color: white;
        border: 1px solid white;
        background-color: transparent;
    }
        40% {
            color: #6563ff;
            border: 1px solid #6563ff;
            background-color: white;
        }

}
.timer {
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    height: 40px;
}
.chrono, .essais {
    color: #6563ff;
}
.results {
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 700px;
    border-radius: 6px;
    transform: translate(200%, -50%);
    z-index: 500;
    transition: .4s ease;
}
.blockTit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: #6563ff;
    border-bottom: 1px solid #6563ff;
}
.blockBody {
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 30px;
    flex-direction: column;
}
.duration, .attempts, .ratio {
    color: #6563ff;
    width: 100%;
    height: 70px;
    text-align: center;
}
.reload {
    padding: 10px; width: 120px; color: #6563ff; border: 1px solid #6563ff;
}
.reload:hover {
    background-color: transparent;
}
.modal-text {
    line-height: 1.9 !important;
}